.wholeContainer {
    margin: 0px;
    padding: 0px;
    /* background-color: red; */
    width: 250px; display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.wholeContainer * {
    border: none;
}

.select {
    height: 40px;
    text-align: center;
    font-size: 25px;
    border-bottom: 1px solid black;
    appearance: none;
    border-radius: 0;
    text-align-last: center;
    background: rgb(59, 59, 59);
}

.select:focus {
    outline: none;
}

.output {
    height: 60px;
    font-size: 40px;
    color: white;
    padding-left: 10px;
    resize: none;
    vertical-align: auto;
    background: rgb(59, 59, 59);
}


