.wholeContainer {
    margin: 0px;
    padding: 0px;
    background-color: red;
    width: 250px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.wholeContainer * {
    border: none;
}

.select {
    height: 40px;
    text-align: center;
    font-size: 25px;
    border-bottom: 1px solid black;
    appearance: none;
}

.input {
    height: 60px;
    font-size: 40px;
    color: white;
    padding-left: 10px;
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
    appearance: none;
}

.input:focus {
    outline: none;
}
