.footer {
  background: rgb(51,51,64);
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 1.0rem;
}

.list {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
}

.gap {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.link {
  margin-top:0.75rem;
  margin-bottom:0.75rem;
  color: white;
  outline: none;
  text-decoration: none;
  padding: 0.25rem;
}

.link:hover {
  color: black;
  background: white;
}
