.header {
    margin-top: 35px;
    margin-bottom: 70px;
}

.header * {
    font-size: 40px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.largeX {
    font-size: 100px;
    color: #00b000;
    margin-top: -30px;
    margin-bottom: -30px;
}

