.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}


@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow {
  align-self: center;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .arrow {
    /* visibility: hidden; */
    padding-top: 10px;
    padding-bottom: 10px;
    rotate: 90deg;
  }

  .dropdownContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.pageContainer > * {
  display: block;
}

.dropdownContainer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.flex__footer {
  margin-top: auto;
  width: 100vw;
  bottom: 0;
}
