.container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.swapButton {
  display: block;
  margin: 0 auto;
  transform: rotate(90deg);
  background-color: white;
  color: #00b000;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  border: none;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

@keyframes buttonSpin {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(270deg);
  }
}

.button {
  animation: buttonSpin 0.5s infinite;
}

/* .swapButton:active { */
/*   animation: none; */
/* } */
/**/
/* .swapButton:focus { */
/*   outline: 2px solid #007bff; */
/*   border: 2px solid #007bff; */
/*   background-color: #f0f0f0; */
/*   color: #007bff; */
/*   animation: buttonSpin 0.25s; */
/* } */
